################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WeatherApi/WeatherApi/.vs/WeatherApi/v16
/obj
/bin/Debug/
