button{
    color: white;
    border: none;
}
button:hover{
    color: white;
    font-weight: bolder;
    border: none;
    background-color: transparent;
}

.nav-link{
    color: white !important;
}
.nav-link:hover{
    font-weight: bolder  !important;
}