

.todays-card-header{
  background-color:lightgray !important;
}
.todays-weather-state{
  margin-right: 40px;
}
.today {
  margin-left: 20px;
}

.img-fluid {
  height: 210px;
}

.custom-column {
  padding: 10px;
  box-sizing: border-box;
}

.custom-column-header {
  font-size: 24px;
  background-color: #007bff;
  color: white;
  padding: 15px;
  text-align: center;
}
.card-body {
    background: white;
}
.weather-card {
  width: 18rem;
}

.todays-card{
  margin: 30px;
}

.five-day-forecast{
  margin: 40px;
}

// .field{
//   width: 450px !important;
// }
// .field-label {
//   font-weight: bold;
//   min-width: 170px !important;
// }
// .field-value {
//   color: black;
// }

.col-form-label{
  padding: 0;
  color: black;
  font-weight: bold;
}
.col-form-value{
  color: red;
}