<div *ngIf="fiveDayForcast">
  <div class="card bg-dark todays-card">
    <div class="card-header todays-card-header">
      Weather for {{ fiveDayForcast.title }}
    </div>
    <div class="card-body">
      <div class="row">
        <div class="todays-weather-state col-sm-12 col-md-2">
          <h5 class="card-title">{{ today.weatherStateName }}</h5>
          <app-weather-state
            [state]="today.weatherStateAbbr"
          ></app-weather-state>
        </div>

        <div class="col-sm-6 col-md-3">
          <div class="form-group row">
            <label for="inputPassword" class="col-sm-6 col-form-label"
              >Min Temp</label
            >
            <div class="col-sm-10">
              <label for="staticEmail" class="col-sm-6 col-form-value">{{
                today.minTemp | number: "1.2-2"
              }}</label>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword" class="col-sm-6 col-form-label"
              >Max Temp
            </label>
            <div class="col-sm-10">
              <label for="staticEmail" class="col-sm-6 col-form-value">{{
                today.maxTemp | number: "1.2-2"
              }}</label>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="form-group row">
            <label for="staticEmail" class="col-sm-6 col-form-label"
              >WindSpeed</label
            >
            <div class="col-sm-10">
              <label for="staticEmail" class="col-sm-6 col-form-value"
                >{{ today.windSpeed | number: "1.2-2" }} Mph</label
              >
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword" class="col-sm-6 col-form-label"
              >Wind Direction</label
            >
            <div class="col-sm-10">
              <label for="staticEmail" class="col-sm-6 col-form-value">{{
                today.windDirectionCompass
              }}</label>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="form-group row">
            <label for="inputPassword" class="col-sm-6 col-form-label"
              >Humidity</label
            >
            <div class="col-sm-10">
              <label for="staticEmail" class="col-sm-6 col-form-value">{{
                today.humidity
              }}</label>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword" class="col-sm-6 col-form-label"
              >Air Pressure</label
            >
            <div class="col-sm-10">
              <label for="staticEmail" class="col-sm-6 col-form-value">{{
                today.airPressure | number: "1.2-2"
              }}</label>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="col-sm-12 col-md-2">
          <div>
            <span class="field-label">Min Temp :</span>
            <span class="field-value">{{ today.minTemp | number : '1.2-2'}}</span>
          </div>
          <div>
            <span class="field-label">Max Temp :</span>
            <span class="field-value">{{ today.maxTemp | number : '1.2-2'}}</span>
          </div>
          <div>
            <span class="field-label">Temp :</span>
            <span class="field-value">{{ today.theTemp | number : '1.2-2'}}</span>
          </div>
      </div> -->

      <!-- <div class="col-sm-12 col-md-2">
        <div>
          <span class="field-label">Air Pressure :</span>
          <span class="field-value"> {{ today.airPressure | number : '1.2-2'}}</span>
        </div>
        <div>
          <span class="field-label">Humidity :</span>
          <span class="field-value">{{ today.humidity }}</span>
        </div>
          <div>
          <span class="field-label">Visibility :</span>
          <span class="field-value">{{ today.visibility | number : '1.2-2'}}</span>
        </div>
      </div> -->
    </div>
  </div>

  <div class="five-day-forecast">
      <div class="card-group">
        <div *ngFor="let day of fiveDayForcast.dailyForecasts">
          <app-weather-detail [detail]="day"> </app-weather-detail>
        </div>
      </div>
  </div>
</div>

<ngx-spinner></ngx-spinner>
