/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";

.bg-light{
    background-color: #d00030 !important;
}

@import '~ngx-toastr/toastr';

body{
    background-color: #f4f4f4;
    color: #d00030;
}

.bg-primary  {
    //background-color: black; 
    // opacity: 50%;
}
.btn-success:hover {
    background-color: #e07f95;
}