  <div id="login">
      <div class="container">
          <div id="login-row" class="row justify-content-center align-items-center">
              <div id="login-column" class="col-md-6">
                  <div id="login-box" class="col-md-12">

                      <!-- Login Form -->
                      <form id="login-form" class="form" #loginForm="ngForm" novalidate >
                          <h3 class="text-center">
                              Login</h3>
                          <div class="form-group">
                              <label for="username">Username:</label><br>
                              <input type="text" name="username" class="form-control" [(ngModel)]="model.username">
                          </div>
                          <div class="form-group">
                              <label for="password">Password:</label><br>
                              <input type="password" name="password" id="password" class="form-control"
                              [(ngModel)]="model.password">
                          </div>

                          <div class="form-group">
                              <input id="loginButton" type="submit" name="submit" value="Log In" 
                              class="btn btn-success btn-md" [disabled]="!loginForm.valid" (click)="login()">
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>

